body {
    background-color: #333;
}

#canv {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: honeydew;
}

.keysList {
    color: honeydew;
    font-size: 18px;
}